[2015-02-28 16:21] thijsvandien opened #3 "'basestring' not defined under Python 3"
Despite the `if` statement in `fields.py`, I get a `NameError` under Python 3. Perhaps the selection of the right string type should be done using a `try`/`except` to work properly.

[2015-04-20 15:58] #3 closed

[2015-08-14 08:15] gtnx opened #9 "Pypi version differs from github master"
python3 support commit (76e5d8c337651b4c65bd99e1a7643f59334a0a7b) is not in the last version on pypi. Could you push a new version on pypi? thanks

[2015-10-27 19:36] bufke opened #11 "New release?"
Looks like git master supports python 3 but the pypi package does not. If you want help maintaining let me know.

[2015-10-28 09:48] yigitguler commented on #11
Thanks for the report! We will check it as soon as possible.

[2015-10-28 10:00] yigitguler commented on #11
@umutbozkurt

[2015-11-03 12:58] vargi commented on #11
https://pypi.python.org/pypi/django-extra-fields/0.4

[2015-11-03 12:58] #11 closed

[2015-11-03 12:58] vargi commented on #9
https://pypi.python.org/pypi/django-extra-fields/0.4

[2015-11-03 12:58] #9 closed

[2015-12-01 15:28] ticosax opened #12 "Do you want to welcome RangeFields"
https://github.com/tomchristie/django-rest-framework/pull/3632 has been rejected to be into core. I need to find a place to host them. Instead of creating another yet drf third party app, I'm asking if you you are willing to accept the contribution here ?

[2015-12-01 15:38] yigitguler commented on #12
We are willing to accept for sure. I understand why they didn't accepted to the core. However i believe that it will be useful for many people.

Just create a PR. We will handle the rest.

[2015-12-01 16:10] auvipy commented on #12
+1

[2015-12-02 16:30] ticosax commented on #12
@yigitguler Nice !
I will prepare a pull request.

[2015-12-02 16:42] auvipy commented on #12
or could place on drf-extensions!!! tooo

[2015-12-02 18:02] ticosax commented on #12
@auvipy thanks for the invite, but too late. I already made the pull request.

Eventually `Hipo/drf-extra-fields` could move entirely to `chibisov/drf-extensions` ?
IMO, It would be nicer if the landscape of drf third party libraries could be consolidated in fewer projects, following an optimistic merging policy[1].

[1] http://hintjens.com/blog:106

[2015-12-02 18:07] auvipy commented on #12
that's why I told you for that. In fact most useful drf features should be under an umbrella

[2015-12-02 20:52] yigitguler commented on #12
Hi @ticosax,

Thanks for this commit. I merged to master. Tomorrow morning i will prepare version 0.5 and upload to pypi!

[2015-12-03 09:33] ticosax commented on #12
@yigitguler
great news !
thanks

[2015-12-03 14:02] yigitguler commented on #12
v 0.5 is released https://pypi.python.org/pypi/django-extra-fields/0.5

[2015-12-03 14:02] #12 closed

[2015-12-03 16:42] ticosax commented on #12
:+1:

[2016-02-20 16:02] terfn opened #14 "Base64 Image Downloads"
I’m working on a drf API where I have an ImageField in a model and I added a field for base64 downloads to a serializer, which basically consists of opening the image file and encoding it in ```to_representation```. Seems like that would be a nice addition to your Base64ImageField. Shall I make a PR adding this?

[2016-02-20 17:41] yigitguler commented on #14
Hi Filip,

Generally we are using this field to **upload** images in base 64 format and serving as a URL. However, your addition can also be nice.

If you can make this feature optional (default=False), then we will be happy to merge.

For example, while defining the field, if the developer adds something like `represent_in_base64=True`, then it can display the base64 output as well.

[2016-02-20 18:11] terfn commented on #14
Ok I'll look into it. Thanks for letting me know.

[2016-03-22 17:28] dbinetti opened #16 "requiring DateRangeField"
When I try to PUT a model with a DateRangeField it returns "this field is required", even when the model is null=True, blank=True.  Any pointers on how to debug/confirm?

[2016-03-22 17:33] yigitguler commented on #16
@ticosax is the author of these fields. Pinging him.

[2016-03-22 17:35] #14 closed

[2016-03-23 09:17] ticosax commented on #16
@dbinetti did you specified a `default` ?

[2016-03-23 15:47] dbinetti commented on #16
no, i did not -- but i am not expecting to given the null=True, blank=True.

[2016-03-23 20:02] lambdacomplete commented on #16
@dbinetti when using PUT (replace, unlike PATCH which is partial update) you should give all non-read-only fields specified in the serializer, might it be that you put the `DateRangeField` among the `fields` there?

[2016-04-04 19:59] dbinetti commented on #16
Thanks for the responses.  I've done a few things and am getting closer (i think?), but still can't get it to work.

I am now trying to POST (create) a model that includes a null DateRangeField.  The field is nullable.  It is responding with a 400 and "This field may not be null."  Also please note that I am using a JSON API adapter.

[2016-04-05 07:58] ticosax commented on #16
`RangeField`s doesn't take any decision regarding `null`, `required`, `blank` or `default` or whatever options Fields accept. All this validation happen in DRF. You will have to dig into its documentation to sort things out.

[2016-04-05 17:29] dbinetti commented on #16
OK, basic facepalm  here.  The `null` that DRF expects is an empty dictionary, not `null` itself.  Thanks for pointing me in the right direction.

[2016-04-08 03:53] dbinetti commented on #16
OK, reopening this.  Might still be a DRF issue, but not sure.  Here is a repo that has a failing test.  Please let me know if I this is a bug, if I should open an issue on DRF, or am misusing the field.

https://github.com/dbinetti/djangodaterange

[2016-04-08 08:23] ticosax commented on #16
Since `RangeField` inherit from from `rest_framework.fields.DictField`.
Can you isolate the unexpected behavior to `RangeField` only and not `DictField` ?
If no, it means you gonna have to ask on DRF mailing list. Because this is how `DictField` is behaving.

FYI, I'm using `(default=None, blank=True, null=True)` in my model's field definition.

[2016-04-08 15:23] dbinetti commented on #16
You're right -- this is disallowed by `DictField`.  Asking on DRF.  I think I may be using the `RangeField` inappropriately, but not sure

[2016-04-08 15:23] #16 closed

[2016-05-09 16:18] girishkumarkh opened #20 "Will there be a support for ArrayField ?"

[2016-05-09 21:06] girishkumarkh commented on #20
I guess we can use
[code]

[2016-05-09 21:06] #20 closed

[2016-05-24 05:43] juliocebrito opened #22 "{picture: ["Please upload a valid image."]}"
Hi friend, i am using Base64ImageField it is working nice i can read, create and delete but when i try to Update the model this show me this error.

PUT http://xxxxxxx 400 (Bad Request)
{picture: ["Please upload a valid image."]}
## """model"""

class Product(models.Model):
category = models.CharField(max_length=255)
type = models.CharField(max_length=255)
name = models.CharField(max_length=255)
d

[2016-05-24 13:34] yigitguler commented on #22
Hello,

The view looks fine. Can you please send the the request that gives error?

Are you sending a new image or sending an empty image? First 2 lines of the base64 image will be enough.

[2016-05-25 01:20] juliocebrito commented on #22
Hello,
 the error is just here in Base64ImageField when i try to update

            # Try to decode the file. Return validation error if it fails.
            try:
                decoded_file = base64.b64decode(base64_data)
            except (TypeError, binascii.Error):
                raise ValidationError(_("Please upload a valid image."))

when i send a new image there is no problem, the pro

[2016-05-25 04:32] yigitguler commented on #22
Hi,

This means that the image of the PATCH request is not valid.

We might try to regenerate the issue if you send us the base64 image.

[2016-05-25 17:28] juliocebrito commented on #22
Hi, django ImageField does not save a base64 image it save a image "xxxxx.jpg"

[2016-05-25 18:15] yigitguler commented on #22
@juliocebrito we are using this package in every project and it is working fine. There must be a problem with the request itself. Can you paste the REQUEST that results error?

[2016-07-06 01:38] benf-wspdigital opened #24 "Publish a release for each PyPI release"
Related to issue #9, the [GitHub releases page](https://github.com/Hipo/drf-extra-fields/releases) shows only “v0.1” and “v0.3”.

Please make a release at GitHub for each release published to PyPI (and vice versa also).

[2016-07-06 01:39] benf-wspdigital commented on #24
Ideally this should be part of the release procedure every time: tag the release; publish the release files at GitHub; publish the release files at PyPI.

[2016-07-06 01:40] benf-wspdigital opened #25 "Declare support for Python 2 and/or Python 3"
The PyPI releases give no indication about support for Python 2 or Python 3.

Please update the releases so that the PyPI metadata explicitly says which versions of Python are supported.

[2016-07-06 01:44] benf-wspdigital opened #26 "Declare more PyPI metadata"
Some of the important information for the package are missing from the PyPI metadata.

Please add the following in the PyPI metadata:
- Project homepage (`url`)
- Maintainer name (`maintainer`) and email address (`maintainer_email`)
- License grant (`license`)
- Trove classifier for license (in `classifiers`, the “License :: …” entry)

[2016-07-23 00:33] JoabMendes opened #29 "If defined a PointField on my model. Do I need to define it on the serializer too?"
I have a field written like than on my model

[code]

Do I need to define it again on this model serializer or the `fields = '__all__'` will identify it already?

[2016-07-23 17:07] yigitguler commented on #29
Hello,

Yes, you should add a line to the modelserializer as well.

`    location = PointField()
`

[2016-07-23 20:00] JoabMendes commented on #29
Alright. Thank you @yigitguler

[2016-07-23 20:00] #29 closed

[2016-07-25 17:26] vaibhav-jain commented on #22
Hey @yigitguler any update about this issue???

 I am facing this issue too. If I upload new image then its fine but if I try to submit data without changing anything then I get same error.

Reason is the `GET` request has image as URL `"photo":"https://localhost:8000/photos/542c130b-169.jpg"` so when I try to send `PATCH` request I get `Invalid image error`. As it accepts `base64 string` can you

[2016-07-25 21:19] yigitguler commented on #22
Hi @vaibhav-jain,

As far as I understand, you are trying to patch the field with this URL. Am I correct?

If that's the case, it is the expected behaviour. You should only patch the fields that are changed. If the field is changed, send the new image in base64 format. Otherwise do not send the image at all.

If you have a solution proposition, it is more than welcome. Just open a PR.

[2016-07-26 05:47] vaibhav-jain commented on #22
HI @yigitguler thanks for the tip . . . . now its working as expected.

[2016-08-11 11:52] xtrinch opened #30 "Base64ImageField saved as "Raw content" on PUT requests"
Note: I am using Django==1.9.8 and djangorestframework==3.2.4.
Everything works as expected on POST and GET requests, but on PUT requests - no image is generated in my filesystem and where the file URL should be, there's a "Raw content" string.

[2016-08-11 12:42] yigitguler commented on #30
Hello @xtrinch,

In order to help you, I need some extra information. Can you send me the example request of the PUT request? This will help a lot.

Best

Yigit

[2016-08-11 14:40] xtrinch commented on #30
I have tracked the error down to the update method on a queryset - example:

[code]

If I manually assign it the following way, it works:

`business.photo = business_data['photo']`

This probably couldn't be classified as a bug?

[2016-08-11 15:21] yigitguler commented on #30
Yeah, that is an expected result. Marking as closed.

[2016-08-11 15:21] #30 closed

[2016-08-11 15:21] yigitguler commented on #26
Thank you, we will try to add as soon as possible.

[2016-08-21 20:59] kodeine opened #31 "values change itself"
I'm trying to use PointField and pass the json values,

[code]

but when i try to print the values in serializer, i get `POINT (74.3744820000000004 31.4747939999999993)` so after values are instantiated they change, any idea?

[2016-08-21 21:17] kodeine commented on #31
nevermind, it was related to geopy package.

[2016-08-21 21:17] #31 closed

[2016-08-24 00:41] kodeine opened #32 "write_only field"
so i set the field as write only and it doesnt work, it does not allow to read nor write. any clues?

`location = PointField(allow_null=True, write_only=True, required=False)`

[2016-10-12 15:48] sehmaschine commented on #22
I might be missing something, but I don't fully agree with the proposed solution here. IMO, if I get data from an API and send the exact same data back to that API, no update should happen. But that´s not the case with the current implementation. Besides, the solution mentioned above (only patching the updated fields) does not solve the issue with using PUT.

[2016-10-12 19:07] yigitguler commented on #22
I totally agree. This is mostly a problem in PUT requests. Do you have a solution to this problem?

[2016-10-13 09:18] sehmaschine commented on #22
Theoretically speaking: if data is not base64, just return the value with `to_internal_value` ...

[code]

But it does not work with the current implementation of `to_representation`:

[code]

The code above returns the full path including the host and media folder (with the DRF default settings). Therefore, the database will still be updated since base64_data does not match what´s been stored.

E

[2016-10-16 10:14] yigitguler commented on #22
I agree, the system should just ignore if the client sends the existing file (with or without the domain depending the settings of the project)

However, if the client sends another URL or path, the backend should throw an error since it only accepts a base64 input.

I will implement this when I find some time. Or if anyone interested can chime in, we will be happy to approve.

[2017-03-30 17:11] karambir opened #38 "Inconsistency in PointField"
For gis PointField, we are accepting lat and long as numbers/floats but converting them from model field to json as strings. Here https://github.com/Hipo/drf-extra-fields/blob/master/drf_extra_fields/geo_fields.py#L64-L67

*Input:*

[code]

*Output:*

[code]

Do we have any reasoning for this? I think we should output lat and long as floats.

[2017-03-30 20:57] yigitguler commented on #38
Hi @akarambir,

Interesting point. We will investigate.

Thank you!

[2017-05-02 09:21] shubhamjain0594 opened #39 "Using header in get_file_extension"
Why header is not used to get_file_extension. It can be passed as a parameter to get file extension.

[2017-05-02 09:23] yigitguler commented on #39
Hi,

I am not sure I understand your comment. Could you please elaborate?

Thank you.

[2017-05-02 09:28] shubhamjain0594 commented on #39
Sorry for not being elaborate.

[code]

Here we extract header from the base64encoding.

[code]

header once extracted is not used anywhere. In cases when file type can be multiple types. Header can be used to extract the type in cases the file is not an image.

We can modify get_file_extension so that even header is passed as an argument.

[2017-05-02 09:31] shubhamjain0594 commented on #39
If you approve I can send a PR for this.

[2017-05-02 09:40] yigitguler commented on #39
As far as I understand, you are proposing to store file_extension to self.file_extension and access this in future. I think it will be easier to understand if you just open a PR :)

[2017-05-02 10:38] shubhamjain0594 commented on #39
Created PR [here](https://github.com/Hipo/drf-extra-fields/pull/40)

[2017-07-09 06:41] kodeine commented on #25
any update on this?

[2017-07-13 11:40] scheparev-moberries opened #43 "Browsable API crashes with PresentablePrimaryKeyRelatedField"
While declaring the presentable primary key related field like following:

[code]

where city serializer is

[code]

I get `unhashable type: 'ReturnDict'` in the browsable API. Any ideas how to fix it?

[2017-07-13 11:52] scheparev-moberries commented on #43
Looks like `get_choices` fails to build an OrderedDict with key from representation.
Workaround monkeypatch get_choices like following:

[code]

[2017-07-13 12:52] yigitguler commented on #43
Hi @scheparev-moberries,

Thank you for the report. @alicertel is responsible from that field. Assigning to him.

[2017-11-02 15:11] TehQuila commented on #38
I ran into exactly this issue when I tried to instantiate a `django.contrib.gis.geos.Point` with the values of a serialized `PointField` (which obviously fails).

I propose a fix for this issue in this pull request: https://github.com/Hipo/drf-extra-fields/pull/49

[2017-11-03 09:03] yigitguler commented on #38
Hi,

I agree that representing geographical locations using floats is the best approach.

However, it is too late to make such a massive change. This package directly affects the results of the API. If we start using floats instead of strings, the clients that use the projects that use our package will suffer. We should not forget that these API's are not only being consumed by web projects but al

[2017-11-06 10:02] TehQuila commented on #38
Hi @yigitguler,

Sounds reasonable. Can you maybe check with your team how you want to handle this?
I can probably make time to implement a `FloatPointField` but I would appreciate it if I had some certainty that I don't have to spend double effort.

[2017-11-06 10:09] yigitguler commented on #38
@alicertel proposed another approach. Assigning this issue to him.

[2017-11-08 09:08] alicertel commented on #38
Hi @TehQuila

We decided to go with the `PointField`. We will prepare a nice release documentation that saying it's not backward compatible anymore.

To ease the upgrade of the package, a custom attribute can be added to PointField to return points in string instead of float .

Sample usage would be `PointField(str_points=True)`. All they have to do to add str_points=True to the field. By default

[2017-11-08 09:26] TehQuila commented on #38
Hi @alicertel

Sounds good to me, I'll see when I can get started and update my PR accordingly.

[2017-11-09 13:09] TehQuila commented on #38
hey @alicertel, I updated my PR accordingly, hopefully to your liking.

[2018-02-01 11:55] scheparev-moberries commented on #43
@safwanrahman checked, it's working, thanks!

[2018-03-22 03:55] changming1987117 commented on #43
I have met this problem again
Django == 1.10
djangorestframework == 3.4.6
django-extra-fields == 0.9
@scheparev-moberries ,could you tell me how to resolve it?
thx

[2018-03-25 15:24] yigitguler commented on #43
We took a release (0.10) you can use it from pypi as well.

[2018-03-25 15:24] #43 closed

[2018-03-27 08:13] BojanKogoj opened #52 "This backend doesn't support absolute paths."
When using `Base64ImageField` it throws above exception, I only use it in responses. It works fine locally, but not on the server which is Heroku + S3. I think the problem is with [file.path](https://github.com/Hipo/drf-extra-fields/blob/master/drf_extra_fields/fields.py#L74) which exists locally only.

I'm using Django 2.0.2 and DRF 3.7.7

[2018-03-27 08:34] yigitguler commented on #52
It seems like a django-storages bug.

[2018-03-27 11:42] BojanKogoj commented on #52
Not exactly. They don't implement `.path` for non local files. I managed to get it working with a small change in this library
[code]

Any downside to this?

[2018-03-27 12:12] yigitguler commented on #52
Oh, it is in the read mode. Yeah, an improvement might be needed. Expecting a PR then :)

[2018-05-24 09:12] mlorant opened #54 "Rename the pypi package to `drf-extra-fields`"
Today, this github project is named "drf-extra-fields", which is good, since it is hosting fields for the Django REST Framework.

However, the PyPi package is `django-extra-fields` which creates confusion, and is incorrect since the package does not "add" fields for Django itself.

Maybe this was for SEO reasons (easier to find the package with the keyword django in it), but this can be resolved w

[2018-06-24 20:27] bobozar opened #56 "Image Can't be determined"
I'm want to upload an image via json. My image path is

`photo = '/media/profile/avatars/2018/06/22/aka.jpg'`

So I did

[code]
Serializer

`photo = Base64ImageField(required=False)`

`>>> my header is after_header = {'Content-Type':'application/json', 'Authorization':'Token {}'.format('c641df5')}`

[2018-06-24 21:12] jeverling commented on #56
Hi, what you send to the API is not your image, but rather the path to it (a string).

Try something like this:

[code]

Alternatively, you could send the image file as `multipart/form-data`, either using [HybridImageField](https://github.com/Hipo/drf-extra-fields/blob/master/drf_extra_fields/fields.py#L102) or the standard DRF `ImageField`.
But with `Base64ImageField` you need to encode your imag

[2018-10-14 10:53] joshi-ameya opened #57 "Couldn't determine file format when used base64 for image upload"
Hello, I am new to this package, so please tell me if I am in right direction to implement this or not.

So I have integrated this package in my current project, I am implementing a simple image upload flow.

My user model is,
`
[code]
`
and my model serializer is ,
`
[code]
`

Now, from frontend I am sending image in base64 format,
[code]
 **But I am getting type error message,  'The type of the

[2018-12-27 07:18] linpan opened #58 "NameError: name 'basestring' is not defined (python3.5)"
value = self.to_internal_value(data)
  File "/home/user/env/lib/python3.5/site-packages/drf_extra_fields/fields.py", line 31, in to_internal_value
    if isinstance(base64_data, basestring):
NameError: name 'basestring' is not defined

[2019-01-01 05:51] ulgens commented on #54
@yigitguler @alicertel Ping? :slightly_smiling_face:

[2019-01-01 17:54] yigitguler commented on #54
I believe this is because of a simple mistake rather than an SEO effort :)

We will change the name when we will be able to allocate time.

[2019-01-03 15:17] johnthagen commented on #26
What versions of Django / DRF are supported? We should probably have a matrix of tested versions similar to this: https://github.com/axnsan12/drf-yasg/blob/master/tox.ini#L7

[2019-01-10 04:52] kelly-ry4n commented on #57
If you just want to fix this client side, you can use javascript to write the image to a canvas and reencode it as a base64 image.

[code]

This fixes the error for me.

[2019-01-14 12:00] onlined opened #64 "REST Framework 3.9.0 breaks tests"
https://github.com/Hipo/drf-extra-fields/blob/8c79bdc82a590402d7435996abfa90fd56cd85c7/tests/test_fields.py#L554-L556

The test expecting this output fails because the date format in the exception text was changed in DRF 3.9.0 from `YYYY[-MM[-DD]]` to `YYYY-MM-DD`.

[2019-01-21 12:02] MounikaKommineni opened #66 "Unable to make the ImageField as required in Swagger POST API"
My model:
[code]
My serializer:
[code]
My swagger view:
![kfrof](https://user-images.githubusercontent.com/46343336/51473453-6cdf6d00-1da2-11e9-9b32-104418ccbb36.png)

How to make the imagefield as required in swagger post request ?

[2019-01-24 11:06] alicertel commented on #38
Fixed with https://github.com/Hipo/drf-extra-fields/pull/49

[2019-01-24 11:06] #38 closed

[2019-01-24 12:55] alicertel opened #69 "Travis isn't reporting build status to the opened PRs."

[2019-01-24 14:16] alicertel commented on #64
Fixed with https://github.com/Hipo/drf-extra-fields/pull/68

[2019-01-24 14:20] alicertel commented on #58
@linpan Looks like you are not upto date. Can you please update your package to the latest version?

There is only one breaking change which is easy to fix.  Please [refer](https://github.com/Hipo/drf-extra-fields#releases) to the documentation.

[2019-01-24 14:26] onlined commented on #64
Thanks!

[2019-01-24 14:26] #64 closed

[2019-01-24 15:02] alicertel commented on #39
Closed with https://github.com/Hipo/drf-extra-fields/pull/40

[2019-01-24 15:02] #39 closed

[2019-01-24 15:38] #25 closed

[2019-01-24 16:17] #56 closed

[2019-01-28 16:46] dynamodeniz commented on #26
Any progress on this? It would help our current project immensely to have up-to-date metadata information, at least the license, in PyPI, because we are automatically generating a list of all the 3rd party Python libraries that we are using including their license.

[2019-01-28 16:50] alicertel commented on #26
@dynamodeniz it's updated last week. Here is the made changes. https://github.com/Hipo/drf-extra-fields/pull/71/files

We will make a new release soon. Please let me know if you think something is missing.

[2019-01-28 16:54] dynamodeniz commented on #26
@alicertel Awesome! 👍 Thanks!

If you want to be extra helpful, maybe you could add `home_page` (linking to this GitHub for example) but a license is enough for my needs :)

[2019-01-28 16:55] alicertel commented on #26
@dynamodeniz Thank you. I will add home_page too before the new release.

[2019-02-01 15:02] alicertel commented on #24
@benf-wspdigital Thank you for suggestion. We are creating a github release for each PyPI release.

[2019-02-01 15:02] #24 closed

[2019-02-18 14:48] alicertel commented on #69
This is fixed.

[2019-02-18 14:48] #69 closed

[2019-03-04 22:02] johnthagen commented on #66
I noticed this too in generated Angular TypeScript. The image variables were always marked with `?`, meaning they were optional.

[2019-03-06 19:10] alicertel commented on #32
I checked the PointField with the provided attributes and it's working as expected.

[2019-03-11 08:48] shafiyal commented on #66
I am also facing the same issue even though i specified required=True in serializer class

[2019-03-15 10:18] baranugur commented on #66
I'm using the same serializer setup and mine seems to be working fine. Maybe this is an issue of differences in versions. Here are the versions of Django, Django Extra Fields, Django REST Framework and Django REST Swagger that I have used, so you can compare: `Django==2.1.7`, `django-extra-fields==1.0.0`, `djangorestframework==3.9.2`, `django-rest-swagger==2.2.0`.

![swagger_correct](https://user-

[2019-03-15 11:46] johnthagen commented on #66
I wonder if it's because of the `readOnly` property? Would a `readOnly` property make it optional because it's not required when writing to the API? Is this because of how the file is normally returned as a URL rather than the data directly? (I'm just spit balling at this point).

[2019-03-15 14:26] baranugur commented on #66
ReadOnly fields cannot be required at the same time, therefore it's not possible to have a field where both `required` and `read_only` are set to `True` in the latest version of Django REST Framework.

[2019-03-15 15:37] johnthagen commented on #66
What's weird is in my case, I never set `read_only` to `True`. The serializer is a [`WritableNestedSerializer`](https://github.com/beda-software/drf-writable-nested), but I don't see how that would affect the field.

[2019-03-18 15:07] baranugur commented on #66
I've used the serializer below:

[code]

It still seems to be working fine.

![swagger](https://user-images.githubusercontent.com/33009014/54540096-6a675100-49a8-11e9-8001-7ef93c405582.png)

[2019-03-18 16:16] johnthagen commented on #66
@baranugur Could you also post your `Image` `Model`?

I wonder why your `image` field doesn't say `string($uri)`. That is how mine always is (and the OP's).

[2019-03-19 10:15] baranugur commented on #66
The model that I've created is identical to OP's.

I think `drf-yasg==1.13.0` is causing the problem here. I've just tried it with `Base64ImageField` and then I've used the built-in `serializers.ImageField`; this is what I've gotten in both cases:

![yasg](https://user-images.githubusercontent.com/33009014/54596472-c7fdab00-4a45-11e9-8ab8-134f2111089a.png)

[2019-03-19 11:11] johnthagen commented on #66
Cross posted to https://github.com/axnsan12/drf-yasg/issues/332

[2019-03-19 14:21] johnthagen commented on #66
Confirmed this is `drf-yasg` specific (intended) behavior:

https://github.com/axnsan12/drf-yasg/issues/332#issuecomment-474344322

[2019-04-03 18:04] johnthagen opened #76 "BmpBase64ImageField(represent_in_base64=True) unable to handle null image"
If a have a model:

[code]

And a serializer so that users can upload images via Base64 and via as URLs:

[code]

And another serializer so that users can export images via Base64:

[code]

If a user doesn't want upload a thumbnail, they can POST to `ProjectSerializer`:

[code]

But when you try to pull down the `ProjectExportSerializer`, there is an uncaught exception:

[code]

The function in qu

[2019-04-03 18:17] yigitguler commented on #76
Makes sense. Would you mind opening a PR?

[2019-04-03 22:48] johnthagen commented on #76
Sure, I'll look into it tomorrow.

[2019-04-17 19:09] #76 closed

[2019-04-17 19:18] johnthagen opened #79 "Release 1.1.1"
Could a new release be made on PyPI that includes #77? We'd like to use this fix in our production setup.

cc @yigitguler @chpmrc

[2019-04-18 11:49] yigitguler commented on #79
Released 1.2.0

[2019-04-18 11:49] #79 closed

[2019-04-18 11:50] yigitguler commented on #66
Marking as completed.

[2019-04-18 11:50] johnthagen commented on #79
@yigitguler Thanks!

[2019-04-18 11:51] yigitguler commented on #52
Fixed on 1.2.0

[2019-04-18 11:51] #52 closed

[2019-04-18 11:52] #32 closed

[2019-04-18 11:52] johnthagen commented on #66
@yigitguler There may be a way to work around this (at least in documentation): https://github.com/axnsan12/drf-yasg/issues/332#issuecomment-474344322

I don't quite understand what needs to be done, but if this issue were left open it might be useful. We may be able to at least document how to make this work with `drf-yasg`, which I think would be valuable.

Do you happen to understand the commen

[2019-04-18 11:55] #58 closed

[2019-04-18 12:00] yigitguler commented on #66
We can reopen the issue. However, I think there is nothing we can do to fix this situation. Developers of drf-yasg _assumed_ that only multipart requests can contain files. Which is not true for our use case.

[2019-04-21 01:31] elcolie opened #80 "Bulk create"
Is it possible to do `bulk_create()` with `base64`?
If not. What is the limitation?

[2019-04-21 03:54] #80 closed

[2019-04-21 04:55] elcolie opened #81 "Base64VideoField?"
Hi. Thanks to your wonderful library. I can upload `base64Image` file to my system.
I am finding workaround on `video`. Do you have any idea on [this](https://stackoverflow.com/questions/55779866/implement-base64videofield-django-rest?noredirect=1#comment98231232_55779866)?

[2019-04-21 07:38] yigitguler commented on #81
Hi,

Just use [Base64FileField](https://github.com/Hipo/drf-extra-fields#base64filefield) and set ALLOWED_TYPES with popular video types like mpg, mp4, etc...

[2019-04-21 07:38] #81 closed

[2019-05-10 09:54] Luca1991 commented on #57
I just encountered this issue in my project.
I'd like to add that if I use PNG images, this bug is not triggered.
This happens only with JPEG images as far as I can see.

[2019-05-10 16:27] alicertel commented on #57
@Luca1991 Thank you for your feedback. I will have a look at this issue early next week. Can you please send the base64 text which is failed?

[2019-05-10 16:29] alicertel commented on #26
This is completed.

[2019-05-10 16:29] #26 closed

[2019-05-10 18:37] Luca1991 commented on #57
Hi @alicertel thank you for reading my post. From what I can see after running some tests, some jpeg actually works, but not all.
Here is the base64 of a problematic jpeg (it is part of my avatar here on github): https://pastebin.com/ms4ZqinU

Let me know if I can help you in some way ;)

[2019-05-17 15:56] alicertel commented on #57
@Luca1991 thank you for details. Looks like there is [bug](https://bugs.python.org/issue16512) in imghdr method. There is an active PR https://github.com/Hipo/drf-extra-fields/pull/75 related with this issue. I will let you know when it's merged and a new version is released.

[2019-05-17 18:41] Luca1991 commented on #57
Perfect :+1:  Thank you very much for your time :smile:

[2019-05-31 15:32] mirzadelic commented on #22
Any news about this?

[2019-06-08 07:26] sshishov commented on #22
Any updates here?
The best way solution would be to support URLs as well as base64 data and make an update ONLY if image is changed. But to support URLs, the image from url should be downloaded first and it is out of scope as need to use 3rd party library to download it (or `urllib/urllib3` at least).
Currently it is impossible to use this field without adding workarounds either on FE side or BE s

[2019-06-13 12:25] alicertel commented on #57
This issue is resolved and new version is released.

@nafeesanwar Thank you so much for your contribution.

[2019-06-20 11:03] #57 closed

[2019-06-20 11:18] alicertel commented on #22
@sshishov what you suggested is another field. It's not in the scope of Base64ImageField. It migt be useful to add another field like RemoteImageField. PRs welcome :)

@sehmaschine i don’t think there is any requirement in rest apis that the response of a GET should be PUTable. In this case API accepts an image file but presents it as string(url). Input and output format is different.

If you use

[2019-07-03 12:44] josh-stableprice opened #88 "Unable to pass in arbitrary keyword arguments on presentation_serializer init"
I've submitted an implementation as #87

I need this because I have dynamic serializers which can remove fields based on a keyword argument that is provided on Serializer init.

[2019-07-03 16:46] johnthagen commented on #66
Using [Custom Schema Generation](https://drf-yasg.readthedocs.io/en/stable/custom_spec.html) may be a method to solve this.

[2019-07-05 13:44] efe opened #89 "New Field Propose: LowercaseEmailField"
`EmailField` of Django REST Framwork is case-sensitive. Because, It follows the email specification [RFC2882](https://tools.ietf.org/html/rfc2822). However, Most of email providers follow case-insensitive approach.

So, I'd like to have `LowercaseEmailField` for this package.

[code]

[2019-07-15 11:33] #88 closed

[2019-07-23 09:46] alicertel commented on #89
Sounds like a good addition. What do you think @yigitguler ?

[2019-07-23 14:57] yigitguler commented on #89
I agree!

[2019-07-23 14:59] alicertel commented on #89
@efe Expecting a PR then :)

FYI: You don't need to override `__init__`

[2019-07-23 15:15] efe commented on #89
Thanks!

[2019-07-23 21:45] nitely opened #91 "Make PIL optional"
It seems a hard dependency to PIL [was added recently](https://github.com/Hipo/drf-extra-fields/commit/c6a05d6a6750e9dd894a6a598c1d8200e012feea) but not every field requires PIL and not all projects require PIL either. I think this requirement should be optional. Otherwise, we are forced to install the [PIL pre-requirements](https://pillow.readthedocs.io/en/stable/installation.html#building-on-mac

[2019-07-23 22:02] nitely opened #92 "setup.py is missing the requirements"
I think this was always an issue, but since most projects using this library already have django and drf installed nobody has noticed it. Except now pillow was added. I propose breaking the requirement file into requirements.txt and requirements-dev.txt and add the former to setup.py. Either that or hard-code the requirements into setup.py.

[2019-07-26 13:38] alicertel commented on #91
@nitely Thanks for contribution. It's been merged to master. We will take a new release early next week.

[2019-07-26 23:25] maratumba opened #94 "Auto file name generated by uuid4 can be blocked by adblockers"
Random names generated by drf-extra-fields include file names that end with `-ad0`, which is blocked by ublock origin and possibly other adblockers. Will create a pull request to increase the string length by 1 to avoid this issue.

See this [issue by me](https://stackoverflow.com/questions/57227131/images-that-fit-the-regexp-ad0-9-png-can-not-be-loaded-in-any-browser/57227395#57227395) on stackov

[2019-07-29 12:27] alicertel commented on #92
Thank you @nitely We will also add Pillow as optional requirements.

[2019-07-29 14:55] alicertel commented on #94
@maratumba Thank you for your contribution. This is resolved.

[2019-07-29 14:55] #94 closed

[2019-07-31 14:58] ulgens commented on #91
This issue is resolved by https://github.com/Hipo/drf-extra-fields/pull/93 and i think it can be closed.

[2019-07-31 15:11] ulgens commented on #54
As a solution for that, we discussed about uploading another package with correct name but also keep supporting the old one for a reasonable time (~1 year). I looked for how `psycopg2` did this in past, found this: https://github.com/psycopg/psycopg2-wheels/commit/cf03a558 I'm not sure how we can adopt this, but i think it a start at least.

[2019-07-31 19:47] #91 closed

[2019-08-14 15:00] #92 closed

[2019-08-21 14:17] WasinTh commented on #66
Hi! This is the work around code that I've overridden **FieldInspector** to mark Base64ImageField, Base64FileField, Base64FieldMixin as required field
NOTE: I've to remove format from the String because the POST, PUT, PATCH... method use SchemaRef which reference the schema from GET method.

[code]
Result:
<img width="267" alt="Screen Shot 2562-08-21 at 21 15 39" src="https://user-images.githubuse

[2019-08-21 17:07] johnthagen commented on #66
@WasinTh Looks pretty neat -- would you mind opening a PR to this repo's README? I think it would be good to document this for others and for others to test out.

[2019-08-23 06:51] WasinTh commented on #66
@johnthagen  sure this is the pull request on README.md file
https://github.com/Hipo/drf-extra-fields/pull/100

[2019-09-06 13:28] Rall3n opened #101 "RangeField mutates initial_data"
**Django: v2.2.4**
**DRF Extra Fields: v1.2.4**

Using an instance of the `RangeField` class I could observe that the value of `self.initial_data` inside a serializer has mutated to an empty dict.

[code]

Test setup in `ViewSet.create` method:
[code]

Output:
[code]

I think the issue is the usage of `(dict).pop` on the `data` argument on [Line 188 in `fields.py`](https://github.com/Hipo/drf-extr

[2019-09-06 15:31] alicertel commented on #101
@Rall3n Thank you. I will have a look at this early next week.

[2019-09-11 23:46] Saida07 opened #102 "proposed new field: BinaryField"
Given DRF does not support BinaryField out of the box meanwhile many ask for being able to POST binary data, such as pandas.DataFrame.to_hdf on an external server or a pickled df etc. Its one of the topics it hardly exist any explicit solution to.

Perhaps there is a reason it does not exist, but I am unaware of such reason.

Would be super for everyday programmers to download drf-extra-fields and

[2019-09-13 23:56] ryan28561 commented on #58
I just ran into the same issue on version 0.3 which is listed in the documentation as the current version for dry 3.*. If there's a more recent version, I would appreciate it if the documentation was updated.

[2019-09-16 09:42] yigitguler commented on #102
I am not sure how this can be implemented within the scope of this library. Here is a good discussion about this: https://stackoverflow.com/questions/1509743/what-is-a-good-way-to-transfer-binary-data-to-a-http-rest-api-service

[2019-10-22 10:33] timur-orudzhov opened #104 "RangeField doesn't aware of validators, that was applied to model field"
I've defined model like so:

[code]

My serializer class looks like so:

[code]

Expected behaviour would be applying validators to serializer field, but it's not happening.

[2019-10-22 10:38] timur-orudzhov commented on #101
@alicertel do you have any updates about this issue?

[2019-10-22 10:44] alicertel commented on #101
@timur-orudzhov I couldn't find time to fix this.  @omerfarukabaci Could you please check this issue when you have time?

[2019-10-22 10:46] alicertel commented on #104
@timur-orudzhov Thank you for the feedback. We will check the issue.

[2019-10-28 12:23] alicertel commented on #104
@timur-orudzhov This is default behavior of DRF. When you override a field, model field validators doesn't apply. Please see discussion here. https://github.com/Hipo/drf-extra-fields/pull/106.

[2019-10-28 13:44] timur-orudzhov commented on #104
@alicertel @omerfarukabaci Thank you for your reply and research. I'll consider another way to define those fields.

[2019-10-28 13:46] #104 closed

[2019-10-31 12:19] makmary170 opened #109 "500 Error when Base64ImageField is "test" value"
Hi!
I use your library to my avatar field, and all work correctly, except i use _"test"_ string as value of avatar field. It have to print 400 Error and Type: _"Please upload a valid image."_, but it show 500 Error and text : _"OSError at /auth/profile/
cannot identify image file <io.BytesIO object at 0x7f85297b3650>"_
May be it does not  understand that  _"test"_ incorrect value of field and then

[2019-10-31 13:41] omerfarukabaci commented on #109
@makmary170 Thank you! I will check this issue as soon as possible.

[2019-10-31 15:59] arnists opened #111 "Wrong design of Base64 file fields"
I understand how you arrive at this design because it serves the usecase of checking if an image is an image file and that image files have few extensions. It makes the generic component very hard to use if you simply need something that serializes/deserializes base64 for storage or retrieval. It's reminiscent of Interfaces in Java.

At most you should take these functions as parameters so that on

[2019-10-31 16:12] arnists commented on #111
At the very least one should be able to provide '*' as a parameter to bypass the check. That would be easy enough to implement.

[2019-10-31 16:37] arnists commented on #111
I'm reading https://github.com/Hipo/drf-extra-fields/blob/master/drf_extra_fields/fields.py#L52 and unless I am reading it wrong this code will never do anything at all. It makes a uuid4 to use as a filename and then checks if the extension (!!) of the uuid4 string is in ALLOWED_TYPES. This results in a contradiction.

[2019-11-05 09:00] timur-orudzhov opened #113 "RangeField: missed validation of bound ordering"
There is no validation for the case when lower bound is greater than the upper. Django itself check this case in `django.contrib.postgres.forms.ranges.BaseRangeField.compress` method and we should repeat this logic in our corresponding serializer field.

This also leads to the exception – `django.db.utils.DataError: range lower bound must be less than or equal to range upper bound`.

[2019-11-06 09:44] timur-orudzhov commented on #113
I see that we've already had pr – #107, which also changes RangeField. I think I can update my pr after merging the former one.

[2019-11-06 10:05] alicertel commented on #113
Yes, i merged the Pr. Could you please update your PR?

[2019-11-06 11:06] timur-orudzhov commented on #113
Yes, no problem!

[2019-11-07 11:15] #89 closed

[2019-11-07 11:15] alicertel commented on #101
This is fixed with the latest release.

[2019-11-07 11:15] #101 closed

[2019-11-07 11:32] alicertel commented on #111
Hey @arnists thanks for your contributions.

Yes, you are right. We have an open PR https://github.com/Hipo/drf-extra-fields/pull/72 but it's not completed, documentation and tests are missing. Would you like to help on that?

`file_name` is not being used while determining the extension of the file, `decoded_file` is being used. [Here](https://github.com/python/cpython/blob/3.7/Lib/imghdr.py) you

[2019-12-03 13:05] kozlek opened #115 "Import error on Django 3.0"
Django 3.0 has removed `django.utils.six`. As we are still using `six.text_type` and `six.string_types`, the imports fail.

[2019-12-06 09:49] #115 closed

[2020-01-20 12:23] jonathan-golorry opened #117 "Browsable API errors when "inital" is set for range fields"
`valid_range = DateRangeField(initial=DateRange((None, None)))`

results in:

[code]

[2020-02-09 14:33] alicertel commented on #109
Hi @makmary170 , this issue fixed with the latest release.

[2020-02-09 14:33] #109 closed

[2020-02-12 05:03] thtan89 opened #120 "returned [Object object] in react admin"
I have tried the Base64ImageField in Django serializers but in React Admin it returned with [Object object] value. Please rectify the issue. Thank you.

![Screen Shot 2020-02-12 at 12 58 56 PM](https://user-images.githubusercontent.com/51570658/74304385-d0ff1580-4d97-11ea-9187-249c2b668264.png)

The example code in Django serializers:

[code]

I use ImageInput in React Admin:

[code]

[2020-02-13 07:42] makmary170 commented on #109
@alicertel Ok, all work, thanks!

[2020-02-19 00:32] jtimmins-strive opened #121 "DateTimeRangeField: 'tuple' object has no attribute 'isempty'"
I'm encountering an error when I try to use this library (2.0.3) with Django 3.0.3 and DRF 3.11.0.

I have a `Reservation` model with the following field:

[code]

My serializer is similar:
[code]

When I create a `reservation` object, and run the following code:

[code]

I encounter this error:

[code]

Have you all encountered this type of issue before? It's possible I'm just missing something s

[2020-02-19 04:00] #121 closed

[2020-03-05 14:12] johnthagen opened #122 "Support for ListField(child=Base64ImageField())"
We would like to support uploading multiple base64 encoded files to a single PostgreSQL `ArrayField`. Is `ListField(child=Base64ImageField())` supported?

Skeleton example:

[code]

[code]

[code]

When I POST something like:

[code]

The response I see in the debugger when testing in `pytest` from the POST (and subsequent GETs) looks like:

[code]

No files seem to be stored either.

Before inves

[2020-03-05 14:55] johnthagen commented on #122
Even more interesting is that when I fetch the endpoint with another `Serializer` set up using `represent_in_base64=True`:

[code]

[code]

[2020-03-05 15:11] johnthagen commented on #122
Potential related upstream Django issue: https://code.djangoproject.com/ticket/25756

[2020-04-06 12:47] alicertel opened #124 "Drop support for django 1.x and python 2.7"

[2020-04-12 16:33] johnthagen commented on #124
Can also drop support for Python 2.7, which is end of life and neither Django nor DRF support any longer.

[2020-04-12 16:34] johnthagen commented on #122
Since this is actually an upstream Django problem (https://code.djangoproject.com/ticket/25756), I will close this issue.

[2020-04-12 16:34] #122 closed

[2020-04-12 16:35] johnthagen opened #125 "Release 2.1.0"
It would be great if a new release could be pushed to PyPI that includes #119, that way users on Django 3.0 don't have to suppress a warning from this library. This is especially useful if they are using `-Werror` on their CI to catch unexpected warnings.

[2020-04-12 16:36] johnthagen commented on #54
@alicertel Would this be possible for the next release?

[2020-04-12 19:12] alicertel commented on #124
Sure, updated the issue.

[2020-04-12 19:22] alicertel commented on #125
New version has been released.

[2020-04-12 19:22] #125 closed

[2020-04-12 19:35] alicertel commented on #122
Thank you @johnthagen

[2020-04-15 01:16] johnthagen opened #126 "Should Pillow be unpinned?"
Should this version be unpinned and set to `>=`? Also in `requirements_dev.txt`. It seems like using this would force users to an older Pillow that is not maintained?

https://github.com/Hipo/drf-extra-fields/blob/d2d142f362448a0ed17394318f662f25f814a3b3/setup.py#L18

[2020-04-16 09:41] #126 closed

[2020-04-16 13:14] alicertel commented on #120
Hi @thtan89, Are you still having the issue?

[2020-04-16 13:16] alicertel commented on #111
Hi @arnists Do you have any suggestion to improve design of the Base64 fields? I am happy to hear your suggestions?

[2020-04-16 13:17] #22 closed

[2020-04-16 14:08] arnists commented on #111
I do. I didn't get a lot of sleep tonight so I couldn't make a relevant contribution today. I ended up reworking the field in my project and using it changed a bit. I'll see if I can make a PR tomorrow with my code.  I'll also see if I can make a more sweeping architectural change.

[2020-04-24 09:09] vladdoster commented on #111
youd want something like this @arnists

fields.py
[code]

serializers.py
[code]

[2020-05-02 03:02] zengzhengrong commented on #66
How about make it some example code to testprojet, this repo example does not have about flieupload or imageupload,it would be make good to use

[2020-05-08 19:44] joshcorne opened #128 "Support for djangorestframework-recursive"
Hey,

There doesn't seem to be a way to set the presentation_serializer as itself. My model allows a foreign key to the same model. Is there a way to integrate with djangorestframework-recursive?

Thanks!

[2020-05-11 08:26] yigitguler commented on #128
Hi,

Could you please give more details? Which field you mean?

[2020-05-11 13:00] ulgens commented on #124
@alicertel Any update on this? I can take the issue.

[2020-05-11 14:54] ilmesi commented on #66
In Swagger API, I'm using the following setup to show to field as required without any problems:
[code]

And to use "string" format instead of an URL, you will to create the field with use_url=False.

[2020-05-11 14:57] alicertel commented on #124
@ulgens That would be great. Thank you :)

[2020-05-11 14:57] #120 closed

[2020-05-11 15:04] alicertel commented on #66
@ilmesi  Thank you for the suggestion. This seems pretty simple to me compered to creating a FieldInspector. What do you think @WasinTh ?

[2020-05-11 16:07] joshcorne commented on #128
Hi, sorry for the lack of details.

My model is:
[code]

And this is how I would like to be able to serialize it:

[code]
But unfortunately this doesn't appear to be possible, to have a serializer reference itself.
If I didn't want it to be a PresentablePrimaryKeyRelatedField then I could use djangorestframework-recursive but then obviously when I POST, it expects a dict as opposed to the PK.
[cod

[2020-05-11 20:49] ilmesi commented on #66
@alicertel No problem! I got it from the code at `FieldInspector.add_manual_fields` from yasg. It seems to work pretty well and it's less work than creating a new FieldInspector..

[2020-05-12 15:14] yigitguler commented on #128
Thank you for the detailed explanation. We will check and get back to you.

[2020-05-15 14:48] alicertel commented on #128
I will try do add support for "self" next week.

[2020-05-23 11:51] johnthagen opened #130 "Upload wheels to PyPI"
Wheels (`.whl`) for this package are currently missing from PyPI. Could wheels be uploaded for the current and future releases?

Read more about the [advantages of wheels](https://pythonwheels.com/) to understand why generating wheel distributions are important.

To create a wheel along with source distribution:

[code]

To upload wheels:

[code]

[2020-05-26 15:31] johnthagen commented on #66
I can confirm that @ilmesi's answer works. It seems like the most ideal work-around thus far.

[2020-05-27 01:54] WasinTh commented on #66
Agreed. The solution to override Base64FileField is much more simple.

[2020-07-27 15:01] #124 closed

[2020-07-31 23:31] johnthagen commented on #130
@alicertel Any chance this issue could be picked up?

[2020-07-31 23:41] alicertel commented on #102
Closed due to lack of response.

[2020-07-31 23:41] #102 closed

[2020-07-31 23:41] alicertel commented on #130
Sure. I will have a look at this for the next release. Thank you @johnthagen

[2020-08-04 13:34] jd-0001 opened #133 "Update deprecated postgres FloatRangeField field"
Hi,

I am using `Base64ImageField` field and I recently upgraded all of my packages and I found below error in my terminal.
[code]

Packages:
[code]

Let me know if I am missing any other packages to list out.

Do I need to use outdated packages for now or I can resolve it easily???

[2020-08-05 09:18] MarcoGlauser commented on #133
Our CI caught the same issue when it tried to upgrade to Django 3.1.
FloatRangeField was deprecated in Django 2.2 and was replaced by the DecimalRangeField.

[2020-08-05 14:07] alicertel commented on #133
There is an active PR https://github.com/Hipo/drf-extra-fields/pull/132. Once the issue is resolved i will take a new release.

[2020-08-06 14:31] alicertel commented on #66
@WasinTh Would you like to update your PR https://github.com/Hipo/drf-extra-fields/pull/100 with the suggested solution https://github.com/Hipo/drf-extra-fields/issues/66#issuecomment-626755554 ?

[2020-08-07 09:23] alicertel commented on #133
This is fixed with the latest release. Please see the [release notes.](https://github.com/Hipo/drf-extra-fields/releases/tag/v3.0.0)

[2020-08-07 09:23] #133 closed

[2020-08-07 09:24] alicertel commented on #130
Hi @johnthagen . I uploaded *.whl to pypi for the latest release and will upload for future releases as well. Thank you for the contribution.

[2020-08-07 09:44] MarcoGlauser commented on #133
Awesome, works on our CI! Thank you for the quick response :)

[2020-08-07 13:02] johnthagen commented on #130
Great! Thank you!

[2020-08-07 13:02] #130 closed

[2020-08-14 02:09] WasinTh commented on #66
Sure. I've pushed the updated answer on those PRs.

[2020-08-14 06:15] alicertel commented on #66
Thanks @WasinTh

[2020-08-14 06:15] #66 closed

[2020-08-19 14:01] kadircancetin opened #136 "New read_source paramter on relational fields"
It is good if there is a way to separate the read operation and write operation of relational fields like `PresentablePrimaryKeyRelatedField`.  I think there is so much scenario when we need this feature.

For instance, I want to soft delete of instance which connected to the main instance and I don't want to show them to user. Or special ordering when I want to return.

Currently, we have to over

[2020-09-05 11:45] johnthagen commented on #130
Confirmed that wheels are used when pip installing the latest version:

[code]

[2020-09-15 13:30] alicertel commented on #136
Solved with the latest release.

[2020-09-15 13:32] alicertel commented on #128
presentation_serializer accepts string path of the serializer class. For example: app.serializers.RepresentationSerializer

[2020-09-15 13:32] #128 closed

[2020-09-15 13:32] alicertel commented on #117
Solved with the latest release.

[2020-09-15 13:32] #117 closed

[2020-09-15 13:32] alicertel commented on #113
Solved with the latest release.

[2020-09-15 13:32] #113 closed

[2020-09-15 13:32] #136 closed

[2020-09-22 13:44] alicertel commented on #54
New package released as [drf-extra-fields](https://pypi.org/project/drf-extra-fields/3.0.2/). From now on you can install the new versions via `pip install drf-extra-fields`.

[2020-09-22 13:44] #54 closed

[2020-09-22 20:20] AtalayBaysal opened #141 "DateRangeField empty value validation"
My serializer is below;

[code]

My problem is if dates data send as empty (such as "[)"), serializer accept it instead of return validation error. Is there any way i can use?

[2020-09-23 07:00] todorvelichkov opened #142 "Unlisted dependancy psycopg2"
Trying to use `drf-extra-fields` after being installed with just `pip install drf-extra-fields` fails because `psycopg2` in not listed in `requirements.txt` (`psycopg2` is used as an import in your `fields.py` file). After manually installing `psycopg2` from pip it all works fine.

[2020-09-24 10:08] alicertel commented on #142
You need to install psycopg2 manually to be able to use postgres with Django. We can follow the same approach in this package but we have a strict dependency to psycopg2 in fields.py. It works just fine if you are using postgress.

I believe right approach would be to remove `psycopg2` dependency from code and make the depended fields optional.  So if psycopg2 is installed (you have to install thi

[2020-09-24 10:12] alicertel commented on #141
@AtalayBaysal Thanks for reporting this issue. Are you using latest version of the package? If so could you please provide the exact data/input?

[2020-09-24 17:55] AtalayBaysal commented on #141
@alicertel thanks for quick response, here is my package versions;
[code]
Requested data:
[code]
Response:
[code]

[2020-09-25 07:14] ulgens commented on #142
I think the best option here is adding psycopg2 as optional dependancy and use it like `pip install drf-extra-fields[postgres]`. I can take the issue if that's okay.

[2020-09-25 10:27] alicertel commented on #142
@ulgens That would be great.

But the thing is the psycopg2 is not optional at the moment. It should also be optional in the code level.

[2020-10-05 18:05] 0legRadchenko opened #143 "Wrong order of latitude/longitude."
Guys, could you please fix this asap.
Data I send:
{
    "location": {"longitude": 38, "latitude": 45}
}
Data I return back from DB from json:
'{ "type": "Point", "coordinates": [ 38.975348, 45.037295 ] }'
The order changes and it depicts as latitude 38 and longitude 45
I did manage to get to know how to fix this. By changing these lines:
'POINT(%(latitude)s %(longitude)s)'
            value = {

[2020-10-05 19:41] yigitguler commented on #143
Hi,

Nothing is wrong here. X is always longitude and Y is always latitude.

{ "type": "Point", "coordinates": [ 38.975348, 45.037295 ] }

In this case, the longitude is 38 and the latitude is 45.

[2020-10-05 19:41] #143 closed

[2020-10-06 17:15] alicertel commented on #141
@AtalayBaysal Thank you for the details. I will work on this and let you know once it's fixed.

[2020-10-12 16:13] alicertel commented on #141
@AtalayBaysal allow_empty, True by default, attribute is added to DateRangeField.
Sample usage:
`dates = DateRangeField(allow_empty=False)`

[2020-10-13 13:11] lmbringas commented on #142
Hello everyone, how can i do if i don't use postgres as my db ? do i need to install psycopg2 ?

[2020-10-13 13:23] alicertel commented on #142
@lmbringas Right now yes the code depends on the `psycopg2`.

@ulgens will work on this to make it optional for non postgres users. @ulgens are you available these days? If not please let me know i can work on this.

[2020-10-13 13:31] lmbringas commented on #142
there is something i can do ? maybe i can help. if you put some try catch on import and then set a flag on catch to not map the field, it will work ?

[2020-10-14 05:44] todorvelichkov commented on #142
I guess you can take a look how [django-mysql](https://github.com/adamchainz/django-mysql) has done something similar for their [DynamicField](https://github.com/adamchainz/django-mysql/blob/master/src/django_mysql/models/fields/dynamic.py#L27) field which depends on `mariadb_dyncol`. For the purpose they used the [check](https://docs.djangoproject.com/en/3.1/topics/checks/#field-model-manager-and

[2020-10-14 06:32] ulgens commented on #142
Taking this today, sorry for the delay.

[2020-10-14 13:23] lmbringas commented on #142
Thank you @todorvelichkov for the documentation. There is no problem by delay @ulgens. I've already get the solution. Maybe this could works for everyone, check [pull requests 145](https://github.com/Hipo/drf-extra-fields/pull/145)

[2020-10-14 17:40] AtalayBaysal commented on #141
Thanks for the fix, seems work properly now :+1: .

[2020-10-14 17:40] #141 closed

[2020-10-14 22:48] AtalayBaysal opened #146 "Range field default display value error"
There is an issue using version 3.x.x and rest framework interface. If model serializer contains DateRangeField server raise 500 error as "_'dict' object has no attribute 'isempty'_" on drf_extra_fields/fields.py in to_representation, line 224

Some how value parameter expected object but get as empty dictionary.

[2020-10-22 13:04] alicertel commented on #146
@AtalayBaysal I will look into the issue this week.

[2020-10-27 11:58] gwtwod commented on #146
Some extra details in case it helps:

I get the same error in the DRF browsable API while listing all objects, but not when I view single objects (tried all of them individually). I also use `drf-yasg` where listing and single objects work fine.

`period = DateTimeRangeField(allow_empty=True)`

Using
[code]

[2020-11-03 09:37] vkhansen opened #147 "'dict' object has no attribute 'isempty'"
Hello I am seeking assistance with this error, I can view my individual model instances by primary key, but cannot view the list.

`from rest_framework import viewsets

from major.apps.common.views import ActionRelatedSerializerMixin
from major.apps.master_data.job_grades.models import JobGrade
from major.apps.master_data.job_grades.serializers import JobGradeSerializer, JobGradeListSerializer

cl

[2020-11-03 09:39] vkhansen commented on #147
the error relates to this part:

`    def to_representation(self, value):
        """
        Range instances -> dicts of primitive datatypes.
        """
        if value.isempty:
            return {'empty': True}
        lower = self.child.to_representation(value.lower) if value.lower is not None else None
        upper = self.child.to_representation(value.upper) if value.upper is not None else

[2020-11-04 08:14] #147 closed

[2020-11-04 16:00] alicertel commented on #146
Opened a pr for the issue https://github.com/Hipo/drf-extra-fields/pull/148 Will take a release later next week.

[2020-11-04 16:01] alicertel commented on #147
Hey @vkhansen  Thanks for the issue, I've opened a PR https://github.com/Hipo/drf-extra-fields/issues/147 for this.

[2020-11-25 07:38] Hassanzadeh-sd commented on #66
you should change your parser like this :

[code]

after that you can check your swagger :

![image](https://user-images.githubusercontent.com/32982356/100196715-8574bd00-2f0e-11eb-9acb-8ebc0299a2e6.png)

I hope this can help you

[2020-11-28 13:42] AtalayBaysal commented on #146
Hi @alicertel,
 when will you merge #148 ?

[2020-11-28 14:03] alicertel commented on #146
Hi @AtalayBaysal I will take a new release on monday.

[2020-11-28 14:04] alicertel commented on #146
It's merged to master.

[2020-12-04 10:08] alicertel commented on #146
@AtalayBaysal It's released.

[2020-12-04 10:08] #146 closed

[2020-12-31 14:37] TJHeeringa opened #150 "How to set field as nullable?"
I have a `Student` model with a relation to `Study`. This relation can be set to `null`, however when using the `PresentableRelatedFieldMixin` I cannot get it to work. It keeps saying `study is required`.

A minimal reproducing example should be something like

### Fields
[code]

### Models
[code]

### Serializers
[code]
to which I give the data in my tests like

[code]
When using the `Hyperlinked

[2021-01-04 17:11] alicertel commented on #150
Hi @TJHeeringa, It's strange that it's working with `HyperlinkedRelatedField` as expected but not with PresentableHyperlinkedRelatedField since this field only overrides the representation data.

I will investigate the issue and get back to you.

[2021-01-04 17:27] alicertel commented on #150
@TJHeeringa Could you please try with `allow_null=True`?

[2021-01-04 18:59] TJHeeringa commented on #150
Adding the `allow_null=True` resolved the issue. Thx!

[2021-01-04 19:00] #150 closed

[2021-01-20 13:35] mohammadhasanzadeh opened #151 "invalid GEOS Geometry index: 0 Error occurs on nullable `PointField`"
The following error occurs if we have a nullable `PointField` on the model:
`IndexError: invalid GEOS Geometry index: 0`

Model field:
`checkout_position = models.PointField(geography=True, null=True, blank=True)`

Serializer field:
`checkout_position = PointField(required=False)`

[2021-01-28 19:43] danaki commented on #142
Is it tightly bound to postgres? I'm just developing locally using sqlite database and getting "psycopg2 not found" error.
Please move all the code related to postgres into a separate module so that people using other database engines could use this package for their purposes.

[2021-01-29 00:31] lmbringas commented on #142
hey @danaki  you should check this pull requests https://github.com/Hipo/drf-extra-fields/pull/145, i think i can help to you. I'm using it in production without psycopg2.

[2021-02-03 14:28] alicertel commented on #151
Could you please provide the request data? Seems to me that `checkout_position` received a data other than `None, '', [], (), {}`.

[2021-02-04 02:08] robvdl opened #152 "Rendering DecimalRangeField as a list"
I'm just wondering why DecimalRangeField renders like this, it seems a bit overengineered:

    "weight_range": {"lower": "50.`1", "upper": "200.34", "bounds": "[)"},

Personally I would have just rendered it like this:

    "weight_range": ["50.12", "200.34"]

Also I have made a custom DecimalField model field and Django form field that allows max_digits and decimal_places to be set as that reall

[2021-02-04 02:21] robvdl commented on #152
I guess because it is possible that the upper or lower bound isn't set unless `require_all_fields=True`

[2021-02-05 07:55] mohammadhasanzadeh commented on #151
due to `checkout_position` is not required field, so we never send any value like the `None, '', [], (), {}` in the request if we do not need the checkout_position data, but if we need to `checkout_position` data, we send data like the following:
[code]

[2021-02-05 11:40] Capit0L commented on #142
I think this issue is important.
I'm not using PostgreSQL in both dev and production environments. But it requires to install psycopg2. On top of that I have to install PostgreSQL Client on dev/production server.

[2021-02-05 11:42] alicertel commented on #142
Agreed, there is an active PR to fix the issue.

[2021-02-05 11:47] alicertel commented on #152
`"weight_range": ["50.12", "200.34"]` I can't understand if the range includes the value "50.12" or "200.34". `bounds` (`[)`) gives this info. Which means weight can be 50.12 but cannot be 200.34.

[2021-02-11 03:29] michaelhays opened #153 "Allow passing None to lower/upper of RangeField"
Take this simple serializer:

[code]

Passing data with just one of `lower`/`upper` succeeds, creating a range that is unbounded in the opposite direction:

[code]

However, passing a value of `None` for the other direction fails:

[code]

This is because `RangeField.to_internal_value` [validates `upper`](https://github.com/Hipo/drf-extra-fields/blob/c010ea06fed9dbcb51a93a1761dae7eef49357d2/drf_ex

[2021-02-11 10:24] alicertel commented on #153
@michaelhays Thank you for the detailed explanation. I agree that we should have more room to customize the behaviour of the child field.

How about adding child_attrs attribute to the RangeField to define behaviours of the child field? That way allowing null or not can be customizable. This would also be backward compatible.

Sample usage: `IntegerRangeField(child_attrs={"allow_null":True, "valid

[2021-02-11 15:48] michaelhays commented on #153
That makes sense to me! Maybe in the future it would make sense to have `"allow_null": True` as the default for the child class, like for the 4.0 release. But I understand why you wouldn't want to do that now.

Would you like me to take a crack at that change or are you planning to?

[2021-02-11 16:18] alicertel commented on #153
Yes, there are many users of this package. It's best we handle this without breaking things.

I would appreciate if you can open a PR for this.

[2021-02-18 15:36] #153 closed

[2021-02-18 16:00] KaratasFurkan commented on #151
Hi @mohammadhasanzadeh,

When I test **PointField** with these serializer and data:

[code]

results are fine:

[code]

Can you elaborate your problem more with the data you get the error?

[2021-02-24 09:10] #152 closed

[2021-02-27 19:29] gabn88 commented on #142
Any timeline for the PR to get merged?

[2021-02-27 19:58] alicertel commented on #142
@gabn88  I've merged the PR to master. I will try this on one of our active projects and take a new release later next week if everything goes well.

[2021-03-10 07:24] aivazoff commented on #142
Hello,
please update this package at pypi.org

[2021-03-10 10:06] #142 closed

[2021-03-10 18:36] itsdkey opened #158 "Introduce ConsciousChoiceField and LazyChoiceField"
I would like to introduce 2 fields that I think can have a good impact on this repo

1. ConsciousChoiceField

This field can be used in situations where we want to force a user to pick an option. Let's say we have a model:

class Poll:
    choice = models.IntegerField(chocies=[(1, 'test'), (2, 'bar')])

and a serializer:

class PollSerializer(serializers.ModelSerializer):
     choice = ConsciousCh

[2021-03-10 18:37] itsdkey commented on #158
#159

[2021-10-24 11:39] johnthagen opened #162 "Migrate to new CI platform"
If you navigate here: https://travis-ci.org/github/Hipo/drf-extra-fields

<img width="817" alt="Screenshot 2021-10-24 073717" src="https://user-images.githubusercontent.com/10340167/138592399-24562c1d-e3a0-48b5-a96a-07c043e20576.png">

This project will need to migrate to either travis-ci.com or GitHub Actions/Circle CI/etc.

Travis CI (.com) is no longer free for FOSS projects
- https://github.co

[2021-10-27 08:14] omerfarukabaci opened #164 "Drop support for Python 3.6 when it is deprecated"
Python 3.6 will be deprecated on `23 Dec 2021`.

[2021-11-04 13:53] #162 closed

[2021-11-04 23:39] pegler opened #166 "3.2.0 not published to pypi"
Though v3.2.0 just got tagged today, it's not on pypi yet. Thanks for maintaining this package!

[2021-11-09 09:30] yigitguler commented on #166
Thank you for reporting this.

[2021-11-09 15:18] omerfarukabaci commented on #166
@pegler Thanks a lot for the issue! 🚀  We have realized an error in the version `3.2.0` which prevents installing the package for Python 3.6, so we have released a new version and published it instead:

https://pypi.org/project/drf-extra-fields/

[2021-11-09 15:18] #166 closed

[2022-01-07 15:09] #164 closed

[2022-01-13 15:53] Krzyzaku21 commented on #66
If you want create no class views but use drf:
`register_parameters = [openapi.Parameter(
    'date_of_birth', in_=openapi.IN_FORM, description='Add date like 2000-12-12', type=openapi.FORMAT_DATE,
    required=True)]

@swagger_auto_schema(methods=['post'], request_body=RegisterSerializer, manual_parameters=register_parameters)
@ api_view(['POST', ])
@ parser_classes([parsers.MultiPartParser, pars

[2022-03-02 10:10] iflare3g opened #174 "v3.3.0 not released in PyPI"
Based on the README on master branch and Git's tags, the latest version is the v3.3.0 that drops the py 36 support.
But the 3.3.0 hasn't been published to PyPI.

Is there the possibility to kindly publish it, please ?

Thanks so much for your effort on this project!

[2022-03-04 09:38] omerfarukabaci opened #175 "Run tests on pull requests"

[2022-03-04 09:44] omerfarukabaci commented on #174
Thanks for your kind words! Sorry about that, just published 3.3.0 to PyPI:

https://pypi.org/project/drf-extra-fields/3.3.0/

[2022-03-04 09:44] #174 closed

[2022-03-04 09:48] omerfarukabaci commented on #175
This is done via af44c9373b66053adfd9ae298036e99f45ccc994.

[2022-03-04 09:48] #175 closed

[2022-03-04 10:53] iflare3g commented on #174
thanks so much!

[2022-05-12 13:17] Genarito opened #177 "Why null values are not supported to remove a Base64 field's value ("This field may not be null")?"
Hi! Thanks for this lib, It solved a lot of problems. But I realized that if I have the following field in my model:

[code]

And I use Base64 serialization:

[code]

If I send `{ img: null }` it throws `This field may not be null` error during validation. Also, I discover that sending an empty string sets the field to `null`. Is there a reason for that or It's just a bug?

Thanks in advance! <3

[2022-06-13 16:08] Gerantino opened #179 "RangeField clear data, when html_input is True"
DateRangeField - trying to send with a form data, but default serializer method to_internal_value already call the html.parse_html_dict, then the second time RangeField to_internal_value do the same thing, but data do not suitable for default regex pattern, and as result returns just a blank dict.

[2022-06-17 13:33] techlearner96 opened #180 "PresentablePrimaryKeyRelatedField creates issue in redoc documentation."
I have a serializer field which works differently for read and write. I used PresentablePrimaryKeyRelatedField for that.
e.g:
car_type = PresentablePrimaryKeyRelatedField(
        queryset=CarType.objects.all(),
        presentation_serializer=CarTypeSerializer,
        read_source=None
    )
This works well when accessing the api, like in request i give an integer value to car_type field and in r

[2022-06-27 12:07] ThalusA opened #181 "Which serializer to pair to which model"
Hi, is this possible to get some example of which model from Django suit the best for each serializer?
Like for example, what is the recommended model from Django I should use with Base64ImageField? TextField, CharField, ImageField ?

[2022-06-27 15:28] gokselcoban commented on #177
Hi, thank you for reporting this.

Do you get the same error if you add `allow_null=True` to for field definition?
`Base64ImageField(allow_empty_file=False, required=True, allow_null=True)`

Accpording to this line `EMPTY_VALUES = (None, "", [], (), {})`, empty string accepted as an empty value so it is intended.
https://github.com/Hipo/drf-extra-fields/blob/master/drf_extra_fields/fields.py#L39

[2022-06-27 15:42] gokselcoban commented on #158
Hi, thank you for these fields.

Sorry, but I couldn't understand the use case of these fields. In these cases, I think we should we Django forms instead of DRF.

This package is mainly designed for JSON inputs and outputs. As far as I understand you use it as HTML.

[2022-07-19 08:38] beltekylevi opened #182 "`Pillow` should be listed as a dependency"
When `drf-extra-fields` is installed with Poetry `Pillow` is not installed hence you cannot properly use `Base64ImageField`.

https://github.com/Hipo/drf-extra-fields/blob/3dbb40b5b617926d8a3ab481f6e53cd84a9ff38b/drf_extra_fields/fields.py#L136-L140

Am I doing something wrong or `Pillow` should be listed in the `requirements.txt`?

[2022-08-03 00:06] dfg-98 opened #183 "Allow WebP format for Base64ImageField"
## Feature Request:

Allow [WebP](https://developers.google.com/speed/webp) format in Base64ImageField

## Current Behavior:

When trying to upload a base64 encoded webp image the serializer throw a `ValidationError` with saying: "The type of the image couldn't be determined."

## Expected behavior

Upload webp image success

[2022-10-25 13:40] ckarli commented on #180
You can use [OpenApiSerializerFieldExtension ](https://drf-spectacular.readthedocs.io/en/latest/drf_spectacular.html?highlight=map_serializer_field#drf_spectacular.extensions.OpenApiSerializerFieldExtension
)

[code]

[2022-11-14 23:38] Genarito commented on #177
Sorry for the late response. Yes, setting `allow_null` to `True` made the trick!

Thanks!

[2022-11-14 23:38] #177 closed